Source: ros-indigo-bwi-desktop
Section: misc
Priority: extra
Maintainer: Jack O'Quin <jack.oquin@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/bwi_desktop
Standards-Version: 3.9.2

Package: ros-indigo-bwi-desktop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-bwi-common, ros-indigo-bwi-launch, ros-indigo-segbot, ros-indigo-segbot-apps, ros-indigo-segbot-simulator
Description: ROS desktop metapackage for the Building-Wide Intelligence (BWI) project of the University of Texas at Austin. It depends on all released BWI packages. These packages include GUI components.
