Source: ros-hydro-bwi-desktop-full
Section: misc
Priority: extra
Maintainer: Jack O'Quin <jack.oquin@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/bwi_desktop_full
Standards-Version: 3.9.2

Package: ros-hydro-bwi-desktop-full
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rosinstall, python-wstool, ros-hydro-bwi-desktop, ros-hydro-cmake-modules, ros-hydro-openni-tracker, rosemacs-el
Description: ROS desktop full metapackage for the Building-Wide Intelligence (BWI) project of the University of Texas at Austin. It depends on all released BWI packages and some other useful ROS packages. These packages include GUI components.
