Source: ros-hydro-bwi
Section: misc
Priority: extra
Maintainer: Jack O'Quin <jack.oquin@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/bwi
Standards-Version: 3.9.2

Package: ros-hydro-bwi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-bwi-desktop, ros-hydro-bwi-desktop-full, ros-hydro-bwi-launch
Description: Top-level ROS repository for the Building-Wide Intelligence (BWI) project of the University of Texas at Austin. This metapackage depends on all the packages and metapackages in this repository.
